In [1]:
import pandas as pd

In [33]:
nazare = pd.read_csv (r'firstdf.csv')
pipeline = pd.read_csv (r'pipedf.csv')
mundaka = pd.read_csv (r'mundaka.csv')
fronton = pd.read_csv (r'fronton.csv')
box = pd.read_csv (r'firstdf.csv')
puerto_escondido = pd.read_csv (r'puerto_escondido.csv')
itacoatiara = pd.read_csv (r'itacoatiara.csv')
padang_padang = pd.read_csv (r'padang-padang.csv')
kirra = pd.read_csv (r'kirra.csv')

### Cleaning Mundaka

In [7]:
mundaka.drop(["x1","x2","x3","x4"], axis=1, inplace= True)

In [10]:
mundaka.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle
0,01/01,6am,3-4ft,4ft,12s,6,6,mph,10°c,100%,WNW,304,Offshore,SW,220
1,01/01,12pm,3-4ft,4.5ft,11s,6,6,mph,11°c,100%,NW,305,Offshore,SSW,194
2,01/01,6pm,3-4ft,4.5ft,11s,6,6,mph,12°c,100%,NW,307,Onshore,E,91
3,02/01,6am,2-3ft,3ft,10s,7,8,mph,10°c,100%,NW,311,Offshore,SSE,149
4,02/01,12pm,2-3ft,2.5ft,10s,8,9,mph,11°c,100%,NW,312,Offshore,S,183

In [9]:
mundaka.to_csv("mundaka_clean.csv", index=False)

In [40]:
nazare_ = ["Nazare"]
pipeline_ = ["Pipeline"]
mundaka_ = ["Mundaka"]
fronton_ = ["Fronton"]
box_ = ["Box"]
puerto_escondido_ = ["Puerto Escondido"]
itacoatiara_ =  ["Itacoatiara"]
padang_padang_ =  ["Padang-Padang"]
kirra_ = ["Kirra"]

In [41]:
list_nazare = nazare_ * nazare.shape[0]

In [42]:
list_pipeline = pipeline_ * nazare.shape[0]

In [44]:
list_mundaka = mundaka_ * nazare.shape[0]

In [45]:
list_fronton = fronton_ * nazare.shape[0]

In [46]:
list_box = box_ * nazare.shape[0]

In [47]:
list_puerto_escondido = puerto_escondido_ * nazare.shape[0]

In [48]:
list_itacoatiara = itacoatiara_ * nazare.shape[0]

In [49]:
list_padang_padang = padang_padang_ * nazare.shape[0]

In [51]:
list_kirra = kirra_ * nazare.shape[0]

### Inserting new columns (quality,name)

In [24]:
nazare.shape

(1098, 15)

In [54]:
nazare.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot
0,01/01,6am,7-11ft,5ft,11s,3,4,mph,6°c,100%,NW,306,Offshore,ESE,115,Nazare
1,01/01,12pm,7-11ft,5ft,10s,4,6,mph,13°c,100%,NW,310,Offshore,SE,144,Nazare
2,01/01,6pm,6-10ft,4.5ft,10s,1,1,mph,8°c,100%,NW,309,Offshore,S,171,Nazare
3,02/01,6am,4-7ft,2.5ft,10s,5,6,mph,6°c,100%,NW,322,Offshore,SE,129,Nazare
4,02/01,12pm,5-8ft,3ft,12s,6,9,mph,11°c,100%,W,276,Offshore,SSE,156,Nazare

In [53]:
nazare['Spot'] = list_nazare

In [19]:
full = pd.concat([nazare ,pipeline ,mundaka , fronton ,box,puerto_escondido ,itacoatiara ,padang_padang], ignore_index=True)

In [20]:
full

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle
0,01/01,6am,7-11ft,5ft,11s,3,4,mph,6°c,100%,NW,306,Offshore,ESE,115
1,01/01,12pm,7-11ft,5ft,10s,4,6,mph,13°c,100%,NW,310,Offshore,SE,144
2,01/01,6pm,6-10ft,4.5ft,10s,1,1,mph,8°c,100%,NW,309,Offshore,S,171
3,02/01,6am,4-7ft,2.5ft,10s,5,6,mph,6°c,100%,NW,322,Offshore,SE,129
4,02/01,12pm,5-8ft,3ft,12s,6,9,mph,11°c,100%,W,276,Offshore,SSE,156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,30/12,12pm,3-5ft,4ft,10s,10,11,mph,28°c,NaN,SSW,202,Onshore,WSW,243
8780,30/12,6pm,4-6ft,4.5ft,11s,8,8,mph,28°c,NaN,SSW,206,Onshore,SW,217
8781,31/12,6am,4-7ft,4ft,19s,2,4,mph,28°c,NaN,SW,231,Onshore,W,272
8782,31/12,12pm,4-6ft,3.5ft,18s,6,7,mph,28°c,NaN,SW,231,Onshore,WSW,255
8783,31/12,6pm,5-8ft,4.5ft,18s,7,7,mph,28°c,NaN,SW,231,Onshore,SSW,206