In [1]:
import pandas as pd

In [295]:
nazare = pd.read_csv (r'firstdf.csv')
pipeline = pd.read_csv (r'pipedf.csv')
mundaka = pd.read_csv (r'mundaka_correct_df.csv')
fronton = pd.read_csv (r'fronton.csv')
box = pd.read_csv (r'firstdf.csv')
puerto_escondido = pd.read_csv (r'puerto_escondido.csv')
itacoatiara = pd.read_csv (r'itacoatiara.csv')
padang_padang = pd.read_csv (r'padang-padang.csv')
kirra = pd.read_csv (r'kirra.csv')
mosca = pd.read_csv (r'mosca.csv')
tauro = pd.read_csv (r'tauro.csv')

### Creating lists

In [297]:
nazare_ = ["Nazare"]
pipeline_ = ["Pipeline"]
mundaka_ = ["Mundaka"]
fronton_ = ["Fronton"]
box_ = ["The Box"]
puerto_escondido_ = ["Puerto Escondido"]
itacoatiara_ =  ["Itacoatiara"]
padang_padang_ =  ["Padang-Padang"]
kirra_ = ["Kirra"]
mosca_ = ["Mosca Point"]
tauro_ = ["Tauro"]

In [298]:
list_nazare = nazare_ * nazare.shape[0]

list_pipeline = pipeline_ * nazare.shape[0]

list_mundaka = mundaka_ * nazare.shape[0]

list_fronton = fronton_ * nazare.shape[0]

list_box = box_ * nazare.shape[0]

list_puerto_escondido = puerto_escondido_ * nazare.shape[0]

list_itacoatiara = itacoatiara_ * nazare.shape[0]

list_padang_padang = padang_padang_ * nazare.shape[0]

list_mosca = mosca_ * mosca.shape[0]

list_tauro = tauro_ * tauro.shape[0]

### Inserting new columns (quality,name)

#### Nazare

In [24]:
nazare.shape

(1098, 15)

In [158]:
nazare.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,7-11ft,5ft,11s,3,4,mph,6°c,100%,NW,306,Offshore,ESE,115,Nazare,Good
1,01/01,12pm,7-11ft,5ft,10s,4,6,mph,13°c,100%,NW,310,Offshore,SE,144,Nazare,Good
2,01/01,6pm,6-10ft,4.5ft,10s,1,1,mph,8°c,100%,NW,309,Offshore,S,171,Nazare,Good
3,02/01,6am,4-7ft,2.5ft,10s,5,6,mph,6°c,100%,NW,322,Offshore,SE,129,Nazare,Good
4,02/01,12pm,5-8ft,3ft,12s,6,9,mph,11°c,100%,W,276,Offshore,SSE,156,Nazare,Good

In [53]:
nazare['Spot'] = list_nazare

In [155]:
def apply_condi_naz(string):
    if int(string[3:5]) in ([10,11,3]) :
        return "Epic"
    elif int(string[3:5]) in([9,12,1,2]):
        return "Good"
    elif int(string[3:5]) in ([4]):
        return "Mediocre"
    else:
        return "Not recommended"

In [156]:
nazare['Conditions'] = nazare.date.apply(apply_condi_naz)

####  Pipeline

In [164]:
pipeline.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,7-11ft,7.5ft,16s,17,20,mph,23°c,100%,NW,312,Offshore,ESE,108,Pipeline,Epic
1,01/01,12pm,6-10ft,7ft,15s,12,13,mph,24°c,100%,NW,312,Cross/Offshore,E,82,Pipeline,Epic
2,01/01,6pm,6-10ft,7ft,15s,9,10,mph,24°c,100%,NW,314,Onshore,NE,35,Pipeline,Epic
3,02/01,6am,5-8ft,6ft,14s,7,8,mph,23°c,100%,NW,313,Onshore,NNE,32,Pipeline,Epic
4,02/01,12pm,5-8ft,5.5ft,13s,10,11,mph,24°c,100%,NW,314,Cross/Onshore,NE,46,Pipeline,Epic

In [56]:
pipeline['Spot'] = list_pipeline

In [159]:
def apply_condi_pip(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([10,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [160]:
pipeline['Conditions'] = pipeline.date.apply(apply_condi_pip)

#### Mundaka

In [278]:
mundaka.head()

,Spot,date,time,range,height,swell_dir,swell_angle,period,wind_kmh,wind_dir,wind,wind_angle,temp,Conditions
0,Mundaka,01/01,6am,3-4ft,4ft,WNW,304,12s,6,SW,Offshore,220,10°c,Epic
1,Mundaka,01/01,12pm,3-4ft,4.5ft,NW,305,11s,6,SSW,Offshore,194,11°c,Epic
2,Mundaka,01/01,6pm,3-4ft,4.5ft,NW,307,11s,6,E,Onshore,91,12°c,Epic
3,Mundaka,02/01,6am,2-3ft,3ft,NW,311,10s,8,SSE,Offshore,149,10°c,Epic
4,Mundaka,02/01,12pm,2-3ft,2.5ft,NW,312,10s,9,S,Offshore,183,11°c,Epic

In [266]:
mundaka['Spot'] = list_mundaka

In [267]:
def apply_condi_mun(string):
    if int(string[3:5]) in ([12,1]) :
        return "Epic"
    elif int(string[3:5]) in([10,11,2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [268]:
mundaka['Conditions'] = mundaka.date.apply(apply_condi_mun)

In [271]:
mundaka = mundaka[['Spot', 'date', 'time', 'range', "height","swell_dir", "swell_angle","period","wind_kmh","wind_dir","wind","wind_angle","temp","Conditions"]]

#### Fronton

In [175]:
fronton.sample()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
1072,23/12,12pm,3-5ft,5ft,13s,21,23,mph,20°c,NaN,NW,311,Offshore,SE,139,Fronton,Epic

In [63]:
fronton['Spot'] = list_fronton

In [172]:
def apply_condi_fron(string):
    if int(string[3:5]) in ([10,11,12,1]) :
        return "Epic"
    elif int(string[3:5]) in([2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [173]:
fronton['Conditions'] = fronton.date.apply(apply_condi_fron)

#### Box

In [195]:
box.sample()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
820,30/09,12pm,4-6ft,2.5ft,11s,12,17,mph,20°c,NaN,NW,309,Onshore,NNW,339,The Box,Epic

In [183]:
box['Spot'] = list_box

In [180]:
def apply_condi_box(string):
    if int(string[3:5]) in ([6,7,8,9]) :
        return "Epic"
    elif int(string[3:5]) in([1,2,3,4,5,10,11,12]):
        return "Good"

In [181]:
box['Conditions'] = box.date.apply(apply_condi_box)

#### Puerto escondido

In [200]:
puerto_escondido.sample(10)

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
892,24/10,12pm,5-8ft,3.5ft,12s,4,4,mph,29°c,NaN,SSW,192,Onshore,SSW,198,Puerto Escondido,Mediocre
467,04/06,6pm,8-12ft,5ft,16s,11,13,mph,28°c,100%,SW,214,Onshore,W,260,Puerto Escondido,Epic
935,07/11,6pm,7-11ft,5ft,14s,3,4,mph,27°c,NaN,SSW,208,Onshore,W,259,Puerto Escondido,Not recommended
381,07/05,6am,5-8ft,3.5ft,14s,5,6,mph,27°c,100%,SSW,205,Cross/Offshore,WNW,304,Puerto Escondido,Epic
452,30/05,6pm,6-10ft,3.5ft,19s,10,11,mph,28°c,100%,SSW,211,Onshore,W,260,Puerto Escondido,Epic
31,11/01,12pm,2-3ft,1ft,16s,8,7,mph,28°c,100%,SW,217,Onshore,SSE,151,Puerto Escondido,Not recommended
709,24/08,12pm,5-8ft,4.5ft,9s,6,6,mph,27°c,100%,S,184,Onshore,SSE,157,Puerto Escondido,Good
716,26/08,6pm,5-8ft,6.5ft,9s,15,17,mph,27°c,100%,W,259,Onshore,WSW,259,Puerto Escondido,Good
127,12/02,12pm,6-9ft,3.5ft,16s,9,5,mph,30°c,100%,SSW,205,Onshore,SW,219,Puerto Escondido,Mediocre
88,30/01,12pm,4-6ft,2ft,19s,7,6,mph,27°c,100%,SSW,200,Onshore,SSW,205,Puerto Escondido,Not recommended

In [196]:
def apply_condi_pe(string):
    if int(string[3:5]) in ([4,5,6]) :
        return "Epic"
    elif int(string[3:5]) in([7,8,9]):
        return "Good"
    elif int(string[3:5]) in ([2,3,10]):
        return "Mediocre"
    else:
        return "Not recommended"

In [197]:
puerto_escondido['Conditions'] = puerto_escondido.date.apply(apply_condi_pe)

#### Itacoatiara

In [210]:
itacoatiara.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,1ft,3ft,8s,7,9,mph,24°c,100%,E,99,Offshore,NNE,20,Itacoatiara,Not recommended
1,01/01,12pm,1ft,3ft,7s,10,11,mph,28°c,100%,E,98,Cross-shore,E,98,Itacoatiara,Not recommended
2,01/01,6pm,1ft,3ft,7s,13,16,mph,28°c,100%,E,97,Cross/Offshore,E,84,Itacoatiara,Not recommended
3,02/01,6am,1ft,3ft,7s,6,7,mph,25°c,100%,E,97,Cross/Onshore,WSW,254,Itacoatiara,Not recommended
4,02/01,12pm,1ft,2.5ft,7s,11,12,mph,25°c,100%,E,99,Onshore,S,187,Itacoatiara,Not recommended

In [78]:
itacoatiara['Spot'] = list_itacoatiara

In [201]:
def apply_condi_ita(string):
    if int(string[3:5]) in ([6,7]) :
        return "Epic"
    elif int(string[3:5]) in([5,8,9]):
        return "Good"
    elif int(string[3:5]) in ([4]):
        return "Mediocre"
    else:
        return "Not recommended"

In [209]:
itacoatiara['Conditions'] = itacoatiara.date.apply(apply_condi_ita)

#### Padang-padang

In [208]:
padang_padang.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,Plano,7ft,14s,6,6,mph,28°c,100%,SSW,207,Onshore,WNW,284,Padang-Padang,Mediocre
1,01/01,12pm,Plano,7ft,15s,14,14,mph,28°c,100%,SSW,206,Cross/Offshore,NW,323,Padang-Padang,Mediocre
2,01/01,6pm,Plano,7ft,14s,7,8,mph,27°c,100%,SSW,207,Cross/Offshore,NW,316,Padang-Padang,Mediocre
3,02/01,6am,Plano,6.5ft,14s,7,6,mph,27°c,100%,SSW,207,Offshore,NNE,19,Padang-Padang,Mediocre
4,02/01,12pm,Plano,6ft,13s,9,10,mph,29°c,100%,SSW,208,Onshore,WSW,252,Padang-Padang,Mediocre

In [81]:
padang_padang['Spot'] = list_padang_padang

In [204]:
def apply_condi_pp(string):
    if int(string[3:5]) in ([6,7,8]) :
        return "Epic"
    elif int(string[3:5]) in([5,10,9]):
        return "Good"
    elif int(string[3:5]) in ([1,2,3,4,11,12]):
        return "Mediocre"

In [207]:
padang_padang['Conditions'] = padang_padang.date.apply(apply_condi_pp)

#### Kirra

In [217]:
kirra.sample()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
976,21/11,12pm,2-4ft,3.5ft,7s,8,8,mph,26°c,NaN,E,83,Onshore,NE,41,Kirra,Not recommended

In [84]:
kirra['Spot'] = list_kirra

In [211]:
def apply_condi_kir(string):
    if int(string[3:5]) in ([3,4,5]) :
        return "Epic"
    elif int(string[3:5]) in([2,6,7]):
        return "Good"
    else:
        return "Not recommended"

In [212]:
kirra['Conditions'] = kirra.date.apply(apply_condi_kir)

#### Mosca

In [290]:
mosca.head()

,Spot,date,time,range,height,swell_dir,swell_angle,period,wind_kmh,wind_dir,wind,wind_angle,temp,Conditions
0,Mosca Point,01/01,6am,1ft,1.4ft,NNE,31,7s,11,SSE,Cross/Onshore,163,12°c,Epic
1,Mosca Point,01/01,12pm,1-2ft,2ft,ESE,121,4s,14,SE,Onshore,137,16°c,Epic
2,Mosca Point,01/01,6pm,1-2ft,2.5ft,ESE,122,5s,9,SE,Onshore,136,14°c,Epic
3,Mosca Point,02/01,6am,1-2ft,2ft,ESE,113,5s,12,SSE,Onshore,151,11°c,Epic
4,Mosca Point,02/01,12pm,1-2ft,2.5ft,ESE,111,5s,13,SE,Onshore,126,15°c,Epic

In [283]:
mosca['Spot'] = list_mosca

In [286]:
def apply_condi_mosca(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([3,9,10]):
        return "Good"
    elif int(string[3:5]) in([6,7,8]):
        return "Choppy"
    else:
        return "Not recommended"

In [287]:
mosca['Conditions'] = mosca.date.apply(apply_condi_mosca)

In [289]:
mosca = mosca[['Spot', 'date', 'time', 'range', "height","swell_dir", "swell_angle","period","wind_kmh","wind_dir","wind","wind_angle","temp","Conditions"]]

### Tauro

In [305]:
tauro.head()

,Spot,date,time,range,height,swell_dir,swell_angle,period,wind_kmh,wind_dir,wind,wind_angle,temp,Conditions
0,Tauro,01/01,6am,1ft,0.8ft,W,279,9s,11,SSE,Onshore,163,12°c,Epic
1,Tauro,01/01,12pm,0-1ft,0.6ft,W,279,8s,14,SE,Cross-shore,137,16°c,Epic
2,Tauro,01/01,6pm,0-1ft,0.6ft,WNW,284,10s,9,SE,Cross-shore,136,14°c,Epic
3,Tauro,02/01,6am,0-1ft,0.5ft,WNW,298,12s,12,SSE,Cross/Onshore,151,11°c,Epic
4,Tauro,02/01,12pm,1ft,0.7ft,WNW,293,12s,13,SE,Cross/Offshore,126,15°c,Epic

In [299]:
tauro['Spot'] = list_tauro

In [301]:
def apply_condi_tauro(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([3,9,10]):
        return "Good"
    else:
        return "Not recommended"

In [302]:
tauro['Conditions'] = tauro.date.apply(apply_condi_tauro)

In [304]:
tauro = tauro[['Spot', 'date', 'time', 'range', "height","swell_dir", "swell_angle","period","wind_kmh","wind_dir","wind","wind_angle","temp","Conditions"]]

### Concat dataframes into one

In [404]:
full = pd.concat([nazare ,pipeline , fronton ,box,puerto_escondido ,itacoatiara ,padang_padang], ignore_index=True)

In [410]:
full.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle
0,01/01,6am,7-11ft,5ft,11s,3,4,mph,6°c,100%,NW,306,Offshore,ESE,115
1,01/01,12pm,7-11ft,5ft,10s,4,6,mph,13°c,100%,NW,310,Offshore,SE,144
2,01/01,6pm,6-10ft,4.5ft,10s,1,1,mph,8°c,100%,NW,309,Offshore,S,171
3,02/01,6am,4-7ft,2.5ft,10s,5,6,mph,6°c,100%,NW,322,Offshore,SE,129
4,02/01,12pm,5-8ft,3ft,12s,6,9,mph,11°c,100%,W,276,Offshore,SSE,156

In [408]:
full = pd.concat([full,kirra], ignore_index=True)

In [409]:
full.shape

(8784, 15)

In [255]:
full.drop(["mph","prob", "wind_mph"], axis = 1, inplace = True)

In [257]:
full = full[['Spot', 'date', 'time', 'range', "height","swell_dir", "swell_angle","period","wind_kmh","wind_dir","wind","wind_angle","temp","Conditions"]]

In [307]:
full.sample(20)

,Spot,date,time,range,height,swell_dir,swell_angle,period,wind_kmh,wind_dir,wind,wind_angle,temp,Conditions
9346,Mosca Point,06/07,12pm,1-2ft,4ft,N,8,8s,11,N,Cross-shore,3,28°c,Choppy
7929,Mundaka,22/03,6am,1-2ft,1.6ft,NW,313,10s,13,WSW,Offshore,259,12°c,Good
4709,Puerto Escondido,15/04,6pm,6-9ft,4.5ft,SSW,197,13s,5,WSW,Onshore,250,27°c,Epic
3116,Fronton,02/11,6pm,3-4ft,3ft,NNW,337,13s,15,NNE,Onshore,27,21°c,Epic
4617,Puerto Escondido,16/03,6am,7-12ft,5ft,SSW,199,18s,4,NE,Offshore,51,25°c,Mediocre
2825,Fronton,28/07,6pm,3-5ft,4.5ft,NNE,17,7s,18,N,Onshore,9,22°c,Not recommended
854,Nazare,11/10,6pm,7-12ft,7ft,NNW,336,9s,23,N,Onshore,359,18°c,Epic
5266,Puerto Escondido,18/10,12pm,6-9ft,4ft,SSW,210,15s,6,S,Onshore,177,29°c,Mediocre
6276,Itacoatiara,19/09,6am,2-3ft,1.8ft,SSW,192,16s,4,WSW,Onshore,244,23°c,Good
7551,Padang-Padang,17/11,6am,5-7ft,5.5ft,SW,216,13s,8,ESE,Cross/Offshore,124,28°c,Mediocre
7169,Padang-Padang,12/07,6pm,Plano,8ft,SW,225,19s,16,ESE,Cross/Offshore,109,26°c,Epic
7018,Padang-Padang,23/05,12pm,Plano,1.9ft,SSW,204,14s,11,WSW,Onshore,258,29°c,Good
3799,The Box,17/06,12pm,3-5ft,2.5ft,NNW,329,8s,11,NW,Onshore,324,19°c,Epic
10586,Tauro,22/08,6pm,1ft,0.5ft,SSW,204,12s,17,N,Offshore,356,27°c,Not recommended
6480,Itacoatiara,26/11,6am,1-2ft,1ft,SSW,193,11s,9,NNE,Offshore,26,22°c,Not recommended
10146,Tauro,29/03,6am,1ft,0.6ft,SSW,201,14s,5,N,Offshore,357,12°c,Good
4360,The Box,21/12,12pm,10-16ft,7ft,WNW,295,12s,9,SE,Offshore,145,14°c,Good
10094,Tauro,11/03,6pm,1ft,1.2ft,WNW,300,16s,4,ENE,Offshore,73,21°c,Good
3553,The Box,27/03,12pm,12-18ft,8ft,NW,313,13s,5,WSW,Onshore,251,16°c,Good
3654,The Box,30/04,6am,10-16ft,8ft,WNW,294,11s,13,WSW,Onshore,246,12°c,Good

In [308]:
full.to_csv("Full_clean_df.csv", index=False)

### Changing data types

In [309]:
full.dtypes

Spot           object
date           object
time           object
range          object
height         object
swell_dir      object
swell_angle     int64
period         object
wind_kmh        int64
wind_dir       object
wind           object
wind_angle      int64
temp           object
Conditions     object
dtype: object

In [331]:
full_prueba = full

In [352]:
full_prueba.sample()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
8833,Mosca Point,17/01,12pm,1-2ft,1.5,ESE,101,5,12,ESE,Onshore,109,16,Epic

In [313]:
full_prueba[['height','measurement']] = full_prueba.height.str.split("ft",expand=True,)

In [337]:
full_prueba[['period','measurement2']] = full_prueba.period.str.split("s",expand=True,)

In [347]:
full_prueba[['temp','measurement2']] = full_prueba.temp.str.split("°c",expand=True,)

In [351]:
full_prueba.rename(columns={"temp": "temp_°c"},inplace = True)

In [342]:
full_prueba.rename(columns={"period": "period_sec"},inplace = True)

In [353]:
full_prueba_2 = full_prueba

In [355]:
full_prueba_2.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,01/01,6am,7-11ft,5,NW,306,11,4,ESE,Offshore,115,6,Good
1,Nazare,01/01,12pm,7-11ft,5,NW,310,10,6,SE,Offshore,144,13,Good
2,Nazare,01/01,6pm,6-10ft,4.5,NW,309,10,1,S,Offshore,171,8,Good
3,Nazare,02/01,6am,4-7ft,2.5,NW,322,10,6,SE,Offshore,129,6,Good
4,Nazare,02/01,12pm,5-8ft,3,W,276,12,9,SSE,Offshore,156,11,Good

In [359]:
full_prueba_2 = full_prueba_2.astype({"height_ft": float, "swell_angle": int,"period_sec": int, "wind_kmh": int, "wind_angle":int,"temp_°c":int  })

In [361]:
full_prueba_2.dtypes

Spot            object
date            object
time            object
range           object
height_ft      float64
swell_dir       object
swell_angle      int64
period_sec       int64
wind_kmh         int64
wind_dir        object
wind            object
wind_angle       int64
temp_°c          int64
Conditions      object
dtype: object

In [362]:
full = full_prueba_2

In [364]:
full.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,01/01,6am,7-11ft,5.0,NW,306,11,4,ESE,Offshore,115,6,Good
1,Nazare,01/01,12pm,7-11ft,5.0,NW,310,10,6,SE,Offshore,144,13,Good
2,Nazare,01/01,6pm,6-10ft,4.5,NW,309,10,1,S,Offshore,171,8,Good
3,Nazare,02/01,6am,4-7ft,2.5,NW,322,10,6,SE,Offshore,129,6,Good
4,Nazare,02/01,12pm,5-8ft,3.0,W,276,12,9,SSE,Offshore,156,11,Good

In [366]:
full.dtypes

Spot            object
date            object
time            object
range           object
height_ft      float64
swell_dir       object
swell_angle      int64
period_sec       int64
wind_kmh         int64
wind_dir        object
wind            object
wind_angle       int64
temp_°c          int64
Conditions      object
dtype: object

In [367]:
full.to_csv("Full_clean_df.csv", index=False)

### Insert into SQL

In [390]:
import os
import dotenv
import sqlalchemy as alch
from getpass import getpass

In [391]:
#dotenv.load_dotenv()
password = getpass("Introduce tu pass de sql: ")
dbName="surfscanner"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

Introduce tu pass de sql: ········
me conecté

In [392]:
for i, fila in full.iterrows():
    engine.execute(
        f"""
        INSERT INTO data (Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions) 
        VALUES
        ("{fila['Spot']}","{fila['date']}","{fila['time']}","{fila['range']}","{fila['height_ft']}","{fila['swell_dir']}","{fila['swell_angle']}","{fila['period_sec']}","{fila['wind_kmh']}","{fila['wind_dir']}","{fila['wind']}","{fila['wind_angle']}","{fila['temp_°c']}","{fila['Conditions']}");
       """
    )

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_ang' at line 1")
[SQL:
        INSERT INTO data (Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions)
        VALUES
        ("Nazare","01/01","6am","7-11ft","5.0","NW","306","11","4","ESE","Offshore","115","6","Good");
       ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [411]:
full.shape

(8784, 15)