In [1]:
import pandas as pd
import seaborn a

In [2]:
data = pd.read_csv (r'Full_clean_df.csv')

In [3]:
data

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,01/01,6am,7-11ft,5.0,NW,306,11,4,ESE,Offshore,115,6,Good
1,Nazare,01/01,12pm,7-11ft,5.0,NW,310,10,6,SE,Offshore,144,13,Good
2,Nazare,01/01,6pm,6-10ft,4.5,NW,309,10,1,S,Offshore,171,8,Good
3,Nazare,02/01,6am,4-7ft,2.5,NW,322,10,6,SE,Offshore,129,6,Good
4,Nazare,02/01,12pm,5-8ft,3.0,W,276,12,9,SSE,Offshore,156,11,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10975,Tauro,30/12,12pm,1ft,0.6,SSW,203,13,4,SSE,Cross/Onshore,154,18,Epic
10976,Tauro,30/12,6pm,1ft,0.7,SSW,203,13,2,SW,Onshore,228,18,Epic
10977,Tauro,31/12,6am,1-2ft,0.9,SSW,202,12,5,N,Offshore,349,17,Epic
10978,Tauro,31/12,12pm,1-2ft,1.0,SSW,203,12,3,SSW,Onshore,207,19,Epic
10979,Tauro,31/12,6pm,1ft,0.8,SSW,202,12,4,SE,Cross/Onshore,146,18,Epic