In [1]:
import pandas as pd

In [3]:
nazare_ = ["Nazare"]
pipeline_ = ["Pipeline"]
mundaka_ = ["Mundaka"]
fronton_ = ["Fronton"]
box_ = ["The Box"]
puerto_escondido_ = ["Puerto Escondido"]
itacoatiara_ =  ["Itacoatiara"]
padang_padang_ =  ["Padang-Padang"]
mosca_ = ["Mosca Point"]
tauro_ = ["Tauro"]

In [10]:
list_nazare = nazare_ * nazare.shape[0]

list_pipeline = pipeline_ * nazare.shape[0]

list_mundaka = mundaka_ * nazare.shape[0]

list_fronton = fronton_ * nazare.shape[0]

list_box = box_ * nazare.shape[0]

list_puerto_escondido = puerto_escondido_ * nazare.shape[0]

list_itacoatiara = itacoatiara_ * nazare.shape[0]

list_padang_padang = padang_padang_ * nazare.shape[0]

list_mosca = mosca_ * mosca.shape[0]

list_tauro = tauro_ * tauro.shape[0]

In [219]:
full_2020.shape

(10980, 14)

In [220]:
full_2019.shape

(10950, 14)

In [221]:
full_2018.shape

(10950, 14)

### 2020

In [214]:
full_2020 = pd.read_csv (r'full_2020.csv')

In [217]:
full_2020.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,2020-01-01,6am,7-11ft,5.0,NW,306,11,4,ESE,Offshore,115,6,Good
1,Nazare,2020-01-01,12pm,7-11ft,5.0,NW,310,10,6,SE,Offshore,144,13,Good
2,Nazare,2020-01-01,6pm,6-10ft,4.5,NW,309,10,1,S,Offshore,171,8,Good
3,Nazare,2020-02-01,6am,4-7ft,2.5,NW,322,10,6,SE,Offshore,129,6,Good
4,Nazare,2020-02-01,12pm,5-8ft,3.0,W,276,12,9,SSE,Offshore,156,11,Good

In [216]:
def anio(x):
    return f"{x}/2020"

full_2020.date = full_2020.date.apply(anio)

full_2020["date"] = pd.to_datetime(full_2020.date)

In [218]:
full_2020.to_csv("full_2020.csv", index=False)

In [210]:
full_2019.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,2019-01-01,6am,6-9ft,3.5,W,267,14,4,ESE,Offshore,103,7,Good
1,Nazare,2019-01-01,12pm,6-9ft,3.0,W,270,13,2,E,Offshore,81,15,Good
2,Nazare,2019-01-01,6pm,5-8ft,3.0,W,275,12,5,N,Cross/Onshore,2,9,Good
3,Nazare,2019-02-01,6am,4-7ft,2.5,W,274,11,6,N,Cross/Onshore,10,7,Good
4,Nazare,2019-02-01,12pm,3-5ft,2.0,WSW,254,10,10,NNW,Onshore,343,14,Good

In [211]:
full_2018.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,2018-01-01,6am,20-30ft,15.5,WNW,292,15,6,S,Cross/Offshore,186,8,Good
1,Nazare,2018-01-01,12pm,18-28ft,14.5,WNW,292,15,14,W,Onshore,277,15,Good
2,Nazare,2018-01-01,6pm,18-26ft,13.5,WNW,293,14,6,WSW,Onshore,253,11,Good
3,Nazare,2018-02-01,6am,16-26ft,12.5,WNW,297,14,5,SSW,Cross-shore,207,10,Good
4,Nazare,2018-02-01,12pm,14-24ft,11.5,WNW,297,14,11,WSW,Onshore,258,16,Good

In [165]:
def anio(x):
    return f"{x}/2020"

full_2020.date = full_2020.date.apply(anio)

full_2020["prueba"] = pd.to_datetime(full_2020.date)

### 2019

In [2]:
nazare = pd.read_csv (r'df_nazare_2019.csv')
pipeline = pd.read_csv (r'df_pipe_2019.csv')
mundaka = pd.read_csv (r'df_mundaka_2019.csv')
fronton = pd.read_csv (r'df_fronton_2019.csv')
box = pd.read_csv (r'df_box_2019.csv')
puerto_escondido = pd.read_csv (r'df_pe_2019.csv')
itacoatiara = pd.read_csv (r'df_ita_2019.csv')
padang_padang = pd.read_csv (r'df_pp_2019.csv')
mosca = pd.read_csv (r'df_mosca_2019.csv')
tauro = pd.read_csv (r'df_tauro_2019.csv')

### Nazare

In [72]:
nazare.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,6-9ft,3.5ft,14s,3,4,mph,7°c,100%,W,267,Offshore,ESE,103,Nazare,Good
1,01/01,12pm,6-9ft,3ft,13s,1,2,mph,15°c,100%,W,270,Offshore,E,81,Nazare,Good
2,01/01,6pm,5-8ft,3ft,12s,4,5,mph,9°c,100%,W,275,Cross/Onshore,N,2,Nazare,Good
3,02/01,6am,4-7ft,2.5ft,11s,5,6,mph,7°c,100%,W,274,Cross/Onshore,N,10,Nazare,Good
4,02/01,12pm,3-5ft,2ft,10s,6,10,mph,14°c,100%,WSW,254,Onshore,NNW,343,Nazare,Good

In [69]:
nazare['Spot'] = list_nazare

In [70]:
def apply_condi_naz(string):
    if int(string[3:5]) in ([10,11,3]) :
        return "Epic"
    elif int(string[3:5]) in([9,12,1,2]):
        return "Good"
    elif int(string[3:5]) in ([4]):
        return "Mediocre"
    else:
        return "Not recommended"

In [71]:
nazare['Conditions'] = nazare.date.apply(apply_condi_naz)

### Pipeline

In [16]:
pipeline.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,3-5ft,2.5ft,16s,14,24,mph,21°c,100%,NW,316,Offshore,E,93,Pipeline,Epic
1,01/01,12pm,4-6ft,4ft,16s,14,20,mph,24°c,100%,NW,315,Offshore,E,86,Pipeline,Epic
2,01/01,6pm,5-8ft,5.5ft,16s,8,17,mph,20°c,100%,NW,314,Cross/Offshore,E,82,Pipeline,Epic
3,02/01,6am,6-9ft,6ft,15s,12,22,mph,20°c,100%,NW,313,Cross/Offshore,E,81,Pipeline,Epic
4,02/01,12pm,6-9ft,6ft,15s,14,20,mph,24°c,100%,NW,313,Cross/Offshore,E,81,Pipeline,Epic

In [13]:
pipeline['Spot'] = list_pipeline

In [14]:
def apply_condi_pip(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([10,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [15]:
pipeline['Conditions'] = pipeline.date.apply(apply_condi_pip)

### Mundaka

In [21]:
mundaka.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,1ft,1ft,5s,3,3,mph,9°c,100%,N,7,Onshore,ENE,72,Mundaka,Epic
1,01/01,12pm,1ft,0.9ft,10s,4,3,mph,10°c,100%,NW,318,Onshore,NNE,14,Mundaka,Epic
2,01/01,6pm,1ft,1ft,4s,5,5,mph,9°c,100%,N,9,Onshore,NE,36,Mundaka,Epic
3,02/01,6am,1ft,0.7ft,13s,9,9,mph,8°c,100%,NW,312,Onshore,E,81,Mundaka,Epic
4,02/01,12pm,1ft,1.1ft,12s,10,12,mph,9°c,100%,WNW,301,Onshore,E,83,Mundaka,Epic

In [18]:
mundaka['Spot'] = list_mundaka

In [19]:
def apply_condi_mun(string):
    if int(string[3:5]) in ([12,1]) :
        return "Epic"
    elif int(string[3:5]) in([10,11,2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [20]:
mundaka['Conditions'] = mundaka.date.apply(apply_condi_mun)

### Fronton

In [26]:
fronton.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,2-3ft,2ft,14s,10,12,mph,14°c,100%,WNW,299,Offshore,SE,135,Fronton,Epic
1,01/01,12pm,1-2ft,2ft,14s,12,14,mph,20°c,100%,WNW,301,Offshore,SE,137,Fronton,Epic
2,01/01,6pm,1-2ft,1.8ft,13s,8,10,mph,17°c,100%,WNW,302,Cross/Offshore,E,100,Fronton,Epic
3,02/01,6am,1-2ft,1.5ft,12s,8,10,mph,14°c,100%,NW,308,Cross/Offshore,ESE,102,Fronton,Epic
4,02/01,12pm,1-2ft,1.4ft,11s,10,11,mph,19°c,100%,NW,310,Cross/Offshore,ESE,104,Fronton,Epic

In [23]:
fronton['Spot'] = list_fronton

In [24]:
def apply_condi_fron(string):
    if int(string[3:5]) in ([10,11,12,1]) :
        return "Epic"
    elif int(string[3:5]) in([2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [25]:
fronton['Conditions'] = fronton.date.apply(apply_condi_fron)

### Box

In [32]:
box.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,4-7ft,6.5ft,13s,7,10,mph,20°c,100%,SW,223,Offshore,SE,137,The Box,Good
1,01/01,12pm,5-7ft,7ft,14s,13,15,mph,25°c,100%,SW,222,Onshore,SSW,205,The Box,Good
2,01/01,6pm,6-10ft,9ft,16s,13,20,mph,20°c,100%,SW,225,Cross/Offshore,SSE,168,The Box,Good
3,02/01,6am,5-8ft,8ft,14s,10,12,mph,19°c,100%,SW,225,Onshore,SW,234,The Box,Good
4,02/01,12pm,5-8ft,7.5ft,13s,13,16,mph,21°c,100%,SW,227,Onshore,W,274,The Box,Good

In [29]:
box['Spot'] = list_box

In [30]:
def apply_condi_box(string):
    if int(string[3:5]) in ([6,7,8,9]) :
        return "Epic"
    elif int(string[3:5]) in([1,2,3,4,5,10,11,12]):
        return "Good"

In [31]:
box['Conditions'] = box.date.apply(apply_condi_box)

### Puerto Escondido

In [39]:
puerto_escondido.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,3-5ft,1.9ft,12s,6,6,mph,20°c,100%,S,190,Offshore,NNE,14,Puerto Escondido,Not recommended
1,01/01,12pm,3-5ft,2ft,12s,6,5,mph,31°c,100%,S,188,Onshore,SSW,210,Puerto Escondido,Not recommended
2,01/01,6pm,3-5ft,2ft,12s,2,2,mph,22°c,100%,S,188,Onshore,SW,232,Puerto Escondido,Not recommended
3,02/01,6am,3-4ft,1.7ft,11s,5,6,mph,21°c,100%,S,187,Offshore,NNE,15,Puerto Escondido,Not recommended
4,02/01,12pm,2-4ft,1.7ft,11s,5,4,mph,32°c,100%,S,186,Onshore,S,191,Puerto Escondido,Not recommended

In [35]:
puerto_escondido['Spot'] = list_puerto_escondido

In [37]:
def apply_condi_pe(string):
    if int(string[3:5]) in ([4,5,6]) :
        return "Epic"
    elif int(string[3:5]) in([7,8,9]):
        return "Good"
    elif int(string[3:5]) in ([2,3,10]):
        return "Mediocre"
    else:
        return "Not recommended"

In [38]:
puerto_escondido['Conditions'] = puerto_escondido.date.apply(apply_condi_pe)

### Itacoatiara

In [45]:
itacoatiara.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,1ft,1.1ft,5s,4,5,mph,26°c,100%,SSE,151,Offshore,WNW,300,Itacoatiara,Not recommended
1,01/01,12pm,1-2ft,1ft,9s,13,12,mph,29°c,100%,S,191,Onshore,SSE,157,Itacoatiara,Not recommended
2,01/01,6pm,1ft,1.2ft,5s,8,10,mph,28°c,100%,SSE,160,Cross/Onshore,ESE,112,Itacoatiara,Not recommended
3,02/01,6am,1ft,1ft,8s,1,2,mph,26°c,100%,S,190,Cross-shore,W,279,Itacoatiara,Not recommended
4,02/01,12pm,1ft,0.8ft,8s,10,11,mph,30°c,100%,S,188,Onshore,SSE,153,Itacoatiara,Not recommended

In [42]:
itacoatiara['Spot'] = list_itacoatiara

In [43]:
def apply_condi_ita(string):
    if int(string[3:5]) in ([6,7]) :
        return "Epic"
    elif int(string[3:5]) in([5,8,9]):
        return "Good"
    elif int(string[3:5]) in ([4]):
        return "Mediocre"
    else:
        return "Not recommended"

In [44]:
itacoatiara['Conditions'] = itacoatiara.date.apply(apply_condi_ita)

### Padang

In [51]:
padang_padang.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,Plano,4.5ft,12s,14,17,mph,28°c,100%,SSW,204,Cross/Onshore,WNW,291,Padang-Padang,Mediocre
1,01/01,12pm,Plano,4.5ft,12s,19,21,mph,29°c,100%,SSW,205,Onshore,W,268,Padang-Padang,Mediocre
2,01/01,6pm,Plano,7.5ft,8s,25,30,mph,28°c,100%,W,259,Onshore,W,271,Padang-Padang,Mediocre
3,02/01,6am,Plano,6ft,8s,19,22,mph,28°c,100%,WSW,258,Onshore,W,281,Padang-Padang,Mediocre
4,02/01,12pm,Plano,6ft,7s,24,28,mph,28°c,100%,W,259,Onshore,W,268,Padang-Padang,Mediocre

In [47]:
padang_padang['Spot'] = list_padang_padang

In [49]:
def apply_condi_pp(string):
    if int(string[3:5]) in ([6,7,8]) :
        return "Epic"
    elif int(string[3:5]) in([5,10,9]):
        return "Good"
    elif int(string[3:5]) in ([1,2,3,4,11,12]):
        return "Mediocre"

In [50]:
padang_padang['Conditions'] = padang_padang.date.apply(apply_condi_pp)

### Mosca

In [56]:
mosca.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,1-2ft,1.7ft,5s,10,12,mph,14°c,100%,E,99,Onshore,SE,135,Mosca Point,Epic
1,01/01,12pm,2-3ft,3ft,6s,12,14,mph,20°c,100%,ESE,107,Onshore,SE,137,Mosca Point,Epic
2,01/01,6pm,2-3ft,3ft,6s,8,10,mph,17°c,100%,ESE,111,Onshore,E,100,Mosca Point,Epic
3,02/01,6am,1-2ft,2ft,5s,8,10,mph,14°c,100%,E,100,Onshore,ESE,102,Mosca Point,Epic
4,02/01,12pm,1-2ft,2ft,5s,10,11,mph,19°c,100%,E,98,Onshore,ESE,104,Mosca Point,Epic

In [53]:
mosca['Spot'] = list_mosca

In [54]:
def apply_condi_mosca(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([3,9,10]):
        return "Good"
    elif int(string[3:5]) in([6,7,8]):
        return "Choppy"
    else:
        return "Not recommended"

In [55]:
mosca['Conditions'] = mosca.date.apply(apply_condi_mosca)

### Tauro

In [61]:
tauro.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,2-3ft,2.5ft,14s,10,12,mph,14°c,100%,WNW,286,Cross-shore,SE,135,Tauro,Epic
1,01/01,12pm,2-3ft,2ft,13s,12,14,mph,20°c,100%,WNW,286,Cross-shore,SE,137,Tauro,Epic
2,01/01,6pm,1-2ft,2ft,13s,8,10,mph,17°c,100%,WNW,286,Offshore,E,100,Tauro,Epic
3,02/01,6am,1-2ft,1.5ft,12s,8,10,mph,14°c,100%,WNW,286,Offshore,ESE,102,Tauro,Epic
4,02/01,12pm,1-2ft,1.3ft,11s,10,11,mph,19°c,100%,WNW,287,Offshore,ESE,104,Tauro,Epic

In [58]:
tauro['Spot'] = list_tauro

In [59]:
def apply_condi_tauro(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([3,9,10]):
        return "Good"
    else:
        return "Not recommended"

In [60]:
tauro['Conditions'] = tauro.date.apply(apply_condi_tauro)

### Concat 2019

In [96]:
full_2019.dtypes

Spot                   object
date           datetime64[ns]
time                   object
range                  object
height_ft             float64
swell_dir              object
swell_angle             int64
period_sec              int64
wind_kmh                int64
wind_dir               object
wind                   object
wind_angle              int64
temp_°c                 int64
Conditions             object
dtype: object

In [95]:
full_2019.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,2019-01-01,6am,6-9ft,3.5,W,267,14,4,ESE,Offshore,103,7,Good
1,Nazare,2019-01-01,12pm,6-9ft,3.0,W,270,13,2,E,Offshore,81,15,Good
2,Nazare,2019-01-01,6pm,5-8ft,3.0,W,275,12,5,N,Cross/Onshore,2,9,Good
3,Nazare,2019-02-01,6am,4-7ft,2.5,W,274,11,6,N,Cross/Onshore,10,7,Good
4,Nazare,2019-02-01,12pm,3-5ft,2.0,WSW,254,10,10,NNW,Onshore,343,14,Good

In [194]:
full_2019 = pd.concat([nazare ,pipeline , fronton ,box,puerto_escondido ,itacoatiara ,padang_padang,mosca,tauro,mundaka], ignore_index=True)

In [195]:
full_2019.drop(["mph","prob", "wind_mph"], axis = 1, inplace = True)

In [196]:
full_2019 = full_2019[['Spot', 'date', 'time', 'range', "height","swell_dir", "swell_angle","period","wind_kmh","wind_dir","wind","wind_angle","temp","Conditions"]]

In [197]:
full_2019[['height','measurement']] = full_2019.height.str.split("ft",expand=True,)

In [198]:
full_2019[['period','measurement2']] = full_2019.period.str.split("s",expand=True,)

In [199]:
full_2019[['temp','measurement2']] = full_2019.temp.str.split("°c",expand=True,)

In [200]:
full_2019.drop(["measurement","measurement2"],axis = 1,inplace= True)

In [201]:
full_2019.rename(columns={"temp": "temp_°c"},inplace = True)

In [202]:
full_2019.rename(columns={"height": "height_ft"},inplace = True)

In [203]:
full_2019.rename(columns={"period": "period_sec"},inplace = True)

In [204]:
full_2019 = full_2019.astype({"height_ft": float, "swell_angle": int,"period_sec": int, "wind_kmh": int, "wind_angle":int,"temp_°c":int  })

In [205]:
def anio(x):
    return f"{x}/2019"

full_2019.date = full_2019.date.apply(anio)

full_2019["date"] = pd.to_datetime(full_2019.date)

In [206]:
full_2019.to_csv("full_2019.csv", index=False)

## 2018

In [99]:
nazare1 = pd.read_csv (r'df_nazare_2018.csv')
pipeline1 = pd.read_csv (r'df_pipe_2018.csv')
mundaka1 = pd.read_csv (r'df_mundaka_2018.csv')
fronton1 = pd.read_csv (r'df_fronton_2018.csv')
box1 = pd.read_csv (r'df_box_2018.csv')
puerto_escondido1 = pd.read_csv (r'df_pe_2018.csv')
itacoatiara1 = pd.read_csv (r'df_ita_2018.csv')
padang_padang1 = pd.read_csv (r'df_pp_2018.csv')
mosca1 = pd.read_csv (r'df_mosca_2018.csv')
tauro1 = pd.read_csv (r'df_tauro_2018.csv')

### Nazare

In [103]:
nazare1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,20-30ft,15.5ft,15s,5,6,mph,8°c,100%,WNW,292,Cross/Offshore,S,186,Nazare,Good
1,01/01,12pm,18-28ft,14.5ft,15s,10,14,mph,15°c,100%,WNW,292,Onshore,W,277,Nazare,Good
2,01/01,6pm,18-26ft,13.5ft,14s,4,6,mph,11°c,100%,WNW,293,Onshore,WSW,253,Nazare,Good
3,02/01,6am,16-26ft,12.5ft,14s,4,5,mph,10°c,100%,WNW,297,Cross-shore,SSW,207,Nazare,Good
4,02/01,12pm,14-24ft,11.5ft,14s,7,11,mph,16°c,100%,WNW,297,Onshore,WSW,258,Nazare,Good

In [100]:
nazare1['Spot'] = list_nazare

In [101]:
def apply_condi_naz(string):
    if int(string[3:5]) in ([10,11,3]) :
        return "Epic"
    elif int(string[3:5]) in([9,12,1,2]):
        return "Good"
    elif int(string[3:5]) in ([4]):
        return "Mediocre"
    else:
        return "Not recommended"

In [102]:
nazare1['Conditions'] = nazare1.date.apply(apply_condi_naz)

### Pipeline

In [107]:
pipeline1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,4-6ft,4.5ft,13s,7,15,mph,19°c,100%,NW,311,Offshore,E,87,Pipeline,Epic
1,01/01,12pm,4-6ft,4.5ft,13s,10,13,mph,23°c,100%,NW,312,Cross/Offshore,E,85,Pipeline,Epic
2,01/01,6pm,4-7ft,4.5ft,14s,8,14,mph,20°c,100%,NW,313,Cross/Offshore,ENE,68,Pipeline,Epic
3,02/01,6am,5-8ft,5.5ft,14s,8,16,mph,19°c,100%,NW,317,Cross/Offshore,E,85,Pipeline,Epic
4,02/01,12pm,7-10ft,7ft,16s,11,15,mph,22°c,100%,NW,319,Cross/Offshore,ENE,70,Pipeline,Epic

In [104]:
pipeline1['Spot'] = list_pipeline

In [105]:
def apply_condi_pip(string):
    if int(string[3:5]) in ([11,12,1,2]) :
        return "Epic"
    elif int(string[3:5]) in([10,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [106]:
pipeline1['Conditions'] = pipeline1.date.apply(apply_condi_pip)

### Mundaka

In [109]:
mundaka1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Conditions
0,01/01,6am,8-12ft,16ft,15s,21,29,mph,11°c,100%,NW,304,Offshore,SSW,204,Epic
1,01/01,12pm,7-12ft,14.5ft,15s,25,40,mph,15°c,100%,WNW,303,Offshore,SW,224,Epic
2,01/01,6pm,10-16ft,22ft,15s,31,47,mph,14°c,100%,NW,306,Cross-shore,WNW,297,Epic
3,02/01,6am,7-11ft,13.5ft,15s,17,27,mph,13°c,100%,NW,307,Offshore,SSW,214,Epic
4,02/01,12pm,6-9ft,11ft,14s,15,24,mph,14°c,100%,NW,304,Offshore,SW,223,Epic

In [ ]:
mundaka1['Spot'] = list_mundaka

In [ ]:
def apply_condi_mun(string):
    if int(string[3:5]) in ([12,1]) :
        return "Epic"
    elif int(string[3:5]) in([10,11,2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [108]:
mundaka1['Conditions'] = mundaka1.date.apply(apply_condi_mun)

### Fronton

In [115]:
fronton1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,2-3ft,3.5ft,6s,12,19,mph,15°c,100%,NNE,29,Onshore,NE,42,Fronton,Epic
1,01/01,12pm,3-5ft,3ft,16s,13,19,mph,18°c,100%,NW,323,Onshore,NE,45,Fronton,Epic
2,01/01,6pm,3-5ft,3.5ft,16s,14,21,mph,17°c,100%,NW,326,Onshore,NNE,31,Fronton,Epic
3,02/01,6am,3-5ft,3.5ft,14s,11,16,mph,15°c,100%,NW,325,Onshore,NE,44,Fronton,Epic
4,02/01,12pm,3-4ft,3ft,14s,13,19,mph,20°c,100%,NW,326,Onshore,ENE,60,Fronton,Epic

In [112]:
fronton1['Spot'] = list_fronton

In [113]:
def apply_condi_fron(string):
    if int(string[3:5]) in ([10,11,12,1]) :
        return "Epic"
    elif int(string[3:5]) in([2,3]):
        return "Good"
    elif int(string[3:5]) in ([9]):
        return "Mediocre"
    else:
        return "Not recommended"

In [114]:
fronton1['Conditions'] = fronton1.date.apply(apply_condi_fron)

### Box

In [119]:
box1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,6-9ft,9ft,15s,9,12,mph,19°c,100%,SW,224,Offshore,SE,136,The Box,Good
1,01/01,12pm,6-9ft,8.5ft,14s,16,17,mph,24°c,100%,SW,227,Cross-shore,S,181,The Box,Good
2,01/01,6pm,5-8ft,8ft,14s,16,26,mph,19°c,100%,SW,226,Offshore,SSE,152,The Box,Good
3,02/01,6am,5-7ft,6.5ft,13s,7,10,mph,19°c,100%,SW,229,Offshore,ESE,120,The Box,Good
4,02/01,12pm,4-7ft,6ft,12s,14,16,mph,26°c,100%,SW,230,Cross/Onshore,SSW,197,The Box,Good

In [117]:
box1['Spot'] = list_box

In [118]:
box1['Conditions'] = box1.date.apply(apply_condi_box)

### Puerto escondido

In [123]:
puerto_escondido1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,3-5ft,1.9ft,16s,5,5,mph,21°c,100%,SSW,214,Offshore,NNE,16,Puerto Escondido,Not recommended
1,01/01,12pm,3-5ft,1.7ft,16s,5,6,mph,31°c,100%,SSW,212,Onshore,SSW,194,Puerto Escondido,Not recommended
2,01/01,6pm,2-4ft,1.2ft,17s,4,5,mph,23°c,100%,SSW,211,Onshore,SW,216,Puerto Escondido,Not recommended
3,02/01,6am,3-5ft,1.8ft,15s,7,10,mph,20°c,100%,SW,214,Offshore,NNE,15,Puerto Escondido,Not recommended
4,02/01,12pm,3-5ft,1.9ft,15s,1,7,mph,34°c,100%,SSW,213,Onshore,S,190,Puerto Escondido,Not recommended

In [121]:
puerto_escondido1['Spot'] = list_puerto_escondido

In [122]:
puerto_escondido1['Conditions'] = puerto_escondido.date.apply(apply_condi_pe)

### Itacoatiara

In [128]:
itacoatiara1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,1ft,0.8ft,10s,5,6,mph,25°c,100%,SSW,192,Cross/Offshore,W,281,Itacoatiara,Not recommended
1,01/01,12pm,1ft,0.8ft,10s,12,12,mph,28°c,100%,SSW,194,Onshore,S,173,Itacoatiara,Not recommended
2,01/01,6pm,1ft,0.8ft,9s,9,11,mph,26°c,100%,SSW,194,Cross/Onshore,ESE,104,Itacoatiara,Not recommended
3,02/01,6am,1-2ft,1.8ft,8s,4,4,mph,25°c,100%,S,181,Offshore,NNE,27,Itacoatiara,Not recommended
4,02/01,12pm,2ft,1.9ft,8s,9,10,mph,30°c,100%,S,177,Onshore,SE,132,Itacoatiara,Not recommended

In [125]:
itacoatiara1['Spot'] = list_itacoatiara

In [127]:
itacoatiara1['Conditions'] = itacoatiara1.date.apply(apply_condi_ita)

### Padang

In [132]:
padang_padang1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,Plano,6ft,13s,17,19,mph,27°c,100%,SSW,206,Onshore,W,280,Padang-Padang,Mediocre
1,01/01,12pm,Plano,5.5ft,12s,11,12,mph,27°c,100%,SSW,204,Onshore,W,263,Padang-Padang,Mediocre
2,01/01,6pm,Plano,5.5ft,12s,6,6,mph,28°c,100%,SSW,202,Onshore,SW,220,Padang-Padang,Mediocre
3,02/01,6am,Plano,5ft,12s,4,3,mph,27°c,100%,SSW,202,Offshore,NNE,28,Padang-Padang,Mediocre
4,02/01,12pm,Plano,4.5ft,12s,7,7,mph,28°c,100%,SSW,201,Cross/Onshore,SE,143,Padang-Padang,Mediocre

In [130]:
padang_padang1['Spot'] = list_padang_padang

In [131]:
padang_padang1['Conditions'] = padang_padang1.date.apply(apply_condi_pp)

### Mosca

In [136]:
mosca1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,2-3ft,3.5ft,6s,12,19,mph,15°c,100%,NNE,29,Onshore,NE,42,Mosca Point,Epic
1,01/01,12pm,2-3ft,4ft,6s,13,19,mph,18°c,100%,NNE,32,Onshore,NE,45,Mosca Point,Epic
2,01/01,6pm,2-3ft,3.5ft,7s,14,21,mph,17°c,100%,NNE,31,Onshore,NNE,31,Mosca Point,Epic
3,02/01,6am,2-3ft,4.5ft,7s,11,16,mph,15°c,100%,NNE,33,Onshore,NE,44,Mosca Point,Epic
4,02/01,12pm,2-3ft,4.5ft,7s,13,19,mph,20°c,100%,NE,35,Onshore,ENE,60,Mosca Point,Epic

In [134]:
mosca1['Spot'] = list_mosca

In [135]:
mosca1['Conditions'] = mosca1.date.apply(apply_condi_mosca)

### Tauro

In [140]:
tauro1.head()

,date,time,range,height,period,wind_mph,wind_kmh,mph,temp,prob,swell_dir,swell_angle,wind,wind_dir,wind_angle,Spot,Conditions
0,01/01,6am,0-1ft,1.1ft,14s,12,19,mph,15°c,100%,NW,314,Offshore,NE,42,Tauro,Epic
1,01/01,12pm,1ft,1.1ft,13s,13,19,mph,18°c,100%,NW,311,Offshore,NE,45,Tauro,Epic
2,01/01,6pm,0-1ft,1ft,13s,14,21,mph,17°c,100%,NW,308,Offshore,NNE,31,Tauro,Epic
3,02/01,6am,Plano,1.7ft,14s,11,16,mph,15°c,100%,NW,324,Offshore,NE,44,Tauro,Epic
4,02/01,12pm,1ft,0.7ft,14s,13,19,mph,20°c,100%,WNW,297,Offshore,ENE,60,Tauro,Epic

In [138]:

tauro1['Spot'] = list_tauro

In [139]:
tauro1['Conditions'] = tauro1.date.apply(apply_condi_tauro)

In [156]:
full_2019.shape

(9855, 14)

### Concat

In [160]:
full_2018.dtypes

Spot                   object
date           datetime64[ns]
time                   object
range                  object
height_ft             float64
swell_dir              object
swell_angle             int64
period_sec              int64
wind_kmh                int64
wind_dir               object
wind                   object
wind_angle              int64
temp_°c                 int64
Conditions             object
dtype: object

In [159]:
full_2018.head()

,Spot,date,time,range,height_ft,swell_dir,swell_angle,period_sec,wind_kmh,wind_dir,wind,wind_angle,temp_°c,Conditions
0,Nazare,2018-01-01,6am,20-30ft,15.5,WNW,292,15,6,S,Cross/Offshore,186,8,Good
1,Nazare,2018-01-01,12pm,18-28ft,14.5,WNW,292,15,14,W,Onshore,277,15,Good
2,Nazare,2018-01-01,6pm,18-26ft,13.5,WNW,293,14,6,WSW,Onshore,253,11,Good
3,Nazare,2018-02-01,6am,16-26ft,12.5,WNW,297,14,5,SSW,Cross-shore,207,10,Good
4,Nazare,2018-02-01,12pm,14-24ft,11.5,WNW,297,14,11,WSW,Onshore,258,16,Good

In [181]:
full_2018 = pd.concat([nazare1 ,pipeline1 , fronton1 ,box1,puerto_escondido1 ,itacoatiara1 ,padang_padang1,mosca1,tauro1,mundaka1], ignore_index=True)

In [182]:
full_2018[['height','measurement']] = full_2018.height.str.split("ft",expand=True,)

In [183]:
full_2018[['period','measurement2']] = full_2018.period.str.split("s",expand=True,)

In [184]:
full_2018[['temp','measurement2']] = full_2018.temp.str.split("°c",expand=True,)

In [185]:
full_2018.drop(["measurement","measurement2"],axis = 1,inplace= True)

In [186]:
full_2018.rename(columns={"temp": "temp_°c"},inplace = True)

In [187]:
full_2018.rename(columns={"period": "period_sec"},inplace = True)

In [188]:
full_2018.rename(columns={"height": "height_ft"},inplace = True)

In [189]:
full_2018 = full_2018.astype({"height_ft": float, "swell_angle": int,"period_sec": int, "wind_kmh": int, "wind_angle":int,"temp_°c":int  })

In [190]:
full_2018.drop(["mph","prob", "wind_mph"], axis = 1, inplace = True)

In [191]:
full_2018 = full_2018[['Spot', 'date', 'time', 'range', "height_ft","swell_dir", "swell_angle","period_sec","wind_kmh","wind_dir","wind","wind_angle","temp_°c","Conditions"]]

In [192]:
def anio(x):
    return f"{x}/2018"

full_2018.date = full_2018.date.apply(anio)

full_2018["date"] = pd.to_datetime(full_2018.date)

In [193]:
full_2018.to_csv("full_2018.csv", index=False)